<br>
<div class="container text-center">
    <div class="col-md">
        <h1> IMC: você sabe o que o Índice diz sobre sua saúde? </h1>
        <h3> O calculo pode ser feito em casa, mas, dependendo do resultado, é importante procurar um médico para avaliar o grau de sobrepeso ou obesidade</h3>
    </div>
</div>
        <p> Para fazer o cálculo, basta dividir o peso pela altura ao quadrado. O número final representa o quanto a pessoa tem de massa muscular + massa de gordura + massa óssea.  </p>
        <p> Quando o índice de massa corporal recomendado está excedido, é porque a pessoa pode estar numa situação de sobrepeso com tendência à obesidade ou já ter a obesidade. Portanto, o calculo pode ser feito em casa, mas, dependendo do resultado, é importante procurar um médico para avaliar o grau de sobrepeso ou obesidade. Ou o extremo oposto disso. Se o índice estiver muito abaixo da normalidade para o homem e para a mulher indica que a pessoa pode estar no estado de desnutrição, de perda expressiva de massa. E assim como a obesidade, também existem graus de magreza.</p>
        <p> Clique no botão abaixo para fazer o cálculo do seu IMC</p>
        <button type="button" class="btn btn-primary" [routerLink]="['../calculadora']">Calcular</button>

